<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lifehack.featurecompanycard">

    <application>
        <activity android:name="com.lifehack.featurecompanycard.presentation.CompanyCardActivity"></activity>
    </application>

</manifest>